[MESSAGES CONTROL]
disable=too-many-instance-attributes,
    len-as-condition,
    too-few-public-methods,
    import-star-module-level,
    no-absolute-import,
    bad-python3-import,
    import-error,
    unnecessary-lambda,
    no-self-use,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
    no-member,
    function-redefined,
    abstract-method,
    broad-except,
    no-name-in-module,
    line-too-long,
    redefined-outer-name,
    wildcard-import,
    unused-wildcard-import,
    too-many-arguments,
    duplicate-code,
    fixme
